body{
  background-color: #f1f1f1;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica,Arial, sans-serif;
  font-size: 14px;
  height: 100vh;
  line-height: 1.42857143;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

*{
  box-sizing: border-box;
}
*::before,*::after{
  box-sizing: inherit;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe{
  background: rgb(204, 199, 199);
  border: 0;
  height: 100%;
  width: 100%;
}

textarea{
  background-color: #333 !important;
  background-repeat: no-repeat !important;
  background-size: 50px !important;
  background-position: calc(100% - 16px) calc(100% - 16px) !important;
  box-shadow: 0 0 0 .3px rgb(255, 255, 255, .3);
  border: 0;
  color: #fff;
  font-family: monospace;
  font-size: 24px;
  height: 100%;
  padding: 24px;
  resize: none;
  width: 100%;
}

textarea:focus{
  outline: 0;
}

#js{
  background: url('./assets/js.jpg');
}
#html{
  background: url('./assets/html.png');
}
#css{
  background: url('./assets/css.png');
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1px 1fr;
  grid-template-columns: 1fr 1px 1fr;
  height: 100vh;
}

.gutter-col {
  grid-row: 1/-1;
  cursor: col-resize;
}

.gutter-col-1 {
  grid-column: 2;
}

.gutter-row {
  grid-column: 1/-1;
  cursor: row-resize;
}

.gutter-row-1 {
  grid-row: 2;
}